.talker {
  display: flex;
  flex-direction: column;
}
.instruction {
  font-size: 1.2em;
  font-family: "ChicagoFLF Regular";
}

#output {
  height: 40vh;
  font-family: "ChicagoFLF Regular";
  padding: 5px;
}
#input {
  height: 20vh;
  font-family: "ChicagoFLF Regular";
  padding: 5px;
}

#input p {
  margin: 10px;
}

.talkButton {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #1502ea;
}
#buttonImg {
  padding: 10px;
}
