.canvasBody {
  display: flex;
  flex-direction: column;
  font-family: "ChicagoFLF Regular";
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.innerCanvas {
  margin: 20px;
  padding: 20px;
  min-height: 75vh;
  overflow-y: hidden !important;
}
